@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap');


/*font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Coming Soon', cursive;
*/

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
img{
    max-width: 100%;
}
.container{
    max-width: 2100px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 60px 0;
    position: relative;
    height: auto;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo-img{
    width: 80px;
    height: 80px;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/tienda-cnc.appspot.com/o/img%2Flogo.png?alt=media&token=45c0aa82-436f-409d-98a0-479ea67ca37d');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    opacity: 0.6;
    z-index: 1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.menu .navbar ul li{   
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FF7F11;
    display: block;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.submenu{
    position: relative;
}
.submenu #carrito{
    display: none;
    
}
.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;   
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background: #4e4e4e;
    padding: 20px;
    min-height: 40px;
}
table{
    width: 100%;
}
th, td{
    color: #f5f5f5;
}
.borrar{
    background-color: #FF7F11;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    cursor: pointer;

}
.header-content{
    top: 20px;
    position: relative;
    width: 100%;
    background-color: #FFB347;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    border-radius: 50px;
}


.header-txt{
    z-index: 2;
    text-align: center; 
    color: #000000;
    max-width: 80px;
    width: 60%;
    padding: 0 20px;
}


.header-txt h1{
    font-size: 70px;
    color: #ffffff;
    font-family: 'coming soon', sans-serif;
    margin: 0;
}
.header-txt p{
    display: inline-block;
    font-size: 20px;
    color: #FF7F11;
    font-family: 'Poppins', sans-serif;	
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.5;
}
.btn-1{
    display: inline-block;
    align-items: center;
    background-color: #cc2c00;
    color: white;
    padding: 0px 10px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}
.ofert{
    padding: 20px 0 120px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.ofert-1{
    display: flex;
    align-items: center;
    border-radius: 50px;
    
    flex-basis: calc(33.33% - 15px);
    background: #FFB347;
    padding: 35px;
}
.ofert img{
    flex-basis: 50%;
    margin-right: 15px;
    opacity: 0.8;
    border-radius: 25px;
}
.ofert-img img{
    width: 250px;
}
.ofert-txt{
    flex-basis: 50%;
    text-align: center;
}

.ofert-txt h3{
    color: #000000;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.btn-2{
    display: inline-block;
    padding: 7px 10px;
    background: #cc2c00;
    color: #f5f5f5;
    border-radius: 5px;
    font-size: 15px;
}
.ofert-txt p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.products  {    
    padding: 20px 0;
    text-align: center;
    background-color: #ffffff;
}
.products h2{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #000000;
    font-family: 'Oswald', sans-serif;
}
.product-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    background-color: #ffffff;
    padding: 20px;
}
.product{
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    background-color: #FFB347;
    border-radius: 25px;
    margin-bottom: 30px;
}
.product img{
    width: 250px;
    height: 250px;
    opacity: 0.8;
    border-radius: 25px;
    margin-bottom: 20px;
}
.product h3{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.product p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.precio{
    color: #cc2c00;
    font-weight: 800;
}

.footer{
    padding: 50px 0;
    background-color: #FFB347;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.link h3{
    font-size: 18px;
    color: #f5f5f5;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.link a{
    font-size: 16px;
    color: #dcdcdc;
    display: block;
    margin-bottom: 10px;
}  

#contacto {
    background-color: #FFB347;
    padding: 40px;
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contacto h2 {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    color: #333333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 1.1em;
    font-weight: bold;
    color: #333333;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #3498db;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

button {
    padding: 12px;
    background-color: #E63946;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

/* Estilos de los mensajes de validación */
input:invalid, textarea:invalid {
    border-color: #e74c3c;
}

input:valid, textarea:valid {
    border-color: #2ecc71;
}

input::placeholder, textarea::placeholder {
    font-style: italic;
    color: #aaa;
}

@media (max-width: 991px){
    .menu{
        padding: 20px;
    }
    .menu label {    
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #181818;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    .menu .navbar ul li a{
        color: #ffffff;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .logo{
        display: none;
    }
    .submenu:hover #carrito{
        min-width: 100%;
    }
    .header{
        min-height: 0vh;
    }
    .header-content{
        flex-direction: column;
        padding: 50px 0;
    }
    .header-img{
        display: none;
    }
    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }
    .header-txt h1{
        font-size: 70px;
    }
    .ofert{
        padding: 30px 30px 0 30px;
        flex-direction: column;
    }
    .ofert-1{
        margin-bottom: 30px;
    }
    .products{
        padding:0 30px 30px 30px;
    }
    .product h2{
        margin-bottom: 30px;
    }
    .product-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .product img{
        width: 200px;
        height: 280px;
    }
    .icons{
        padding: 30px;
        flex-direction: column;
    }
    .icon-1{
        margin-bottom: 30px;
    }
    .blog{
        padding:0 30px 30px 30px;
        flex-direction: column;
    }
    .blog-1{
        margin-bottom: 30px;
    }
    .footer{
        padding: 30px;
    }
    .footer-content{
        flex-direction: column;
        text-align: center; 
    }
}